body {
  background-color: #fffbf7;
}

h1 {
  color: #025157;
  text-align: center;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

p {
  color: #8b8b8bcc;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

button {
  color: #fff;
  background-color: #025157;
}

.header {
  /* margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px; */
  margin: 40px 20px 0;
  font-size: 0;
  font-family: sans-serif;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

li {
  display: inline;
  margin: 0 25px 0;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle;
}

.logo {
  width: 15%;
}

.logo > img {
  width: 15%;
}

.navbar {
  width: 60%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.actions > * {
  margin: 0 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}

.main {
  margin-top: 285px;
  text-align: center;
}

.publish {
  /* container styles if any */
  margin-left: 30px;
}

.publish h3 {
  
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

iframe {
  display: flex;
  margin: auto;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

.papa >h3,h4{
  color:#025157;
  position: relative;
  left: 30px;
}

.abuelo{
  background-color: #a1d683;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: raw;
}

.papa{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 60%;
  height: 70%;
  align-items: left;
}

.papa > p{
  position : relative;
 color:black;
 width: 60%;
 font-family: 'calibri';
 top:20px;
 left: 30px;
}

.papa > img{
  width: 60%;
  position: relative;
  top: 60px;
  left: 30px;
 }

 .papa > button{
  width: 20%;
  position: relative;
  top: 20px;
  left: 30px;
 }

.papa_hermano{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: right;
  width: 200px;
  height: 90%;
  background-color: white;
  position: relative;
  top: 40px;

}

.papa_hermano > img{
  width: 100%;
  height:40%;
  position: absolute;
  top: 0px;
}

.papa_hermano > #logo{
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 70%;
  border: 1px;
  z-index: 1;
  top: 110px;
  left: 100px;
  background-color:#fddf7e;
  filter: saturate(180%);
}

.papa_hermano > h4{
  position: relative;
  top: 190px;
  left: 10px;
  display: flex;
  flex-direction: raw;
}

.papa_hermano > h5{
  position: relative;
  top: 0px;
  left: 10px;
  display: flex;
  flex-direction: raw;
}

.papa_hermano > #carrito{
  position: relative;
  width:10%;
  height: 10%;
  top: 0px;
  left: 10px;
  display: flex;
  flex-direction: raw;
}