body { 
    background-color:#fffbf7;
}
h1{
    color: #025157;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

p { 
    color: #8b8b8bcc; 
    font-family: verdana;
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
}

button { 
    color: #fff;
    background-color: #6abf4b;
}


#father{
    width: 100%;
    height: 50%;
    display: flex;
    margin: 0;
    padding: 0;
    border: 1px solid #ffffff;
}

#son1{
    max-width: 50%;
    height: 100%;
    padding: 20px;
    text-align: center;
    border: 1px solid #ffffff;
}

#son2{
    max-width: 50%;
    height: 100%;
    padding: 20px;
    text-align: center;
    border: 1px solid #ffffff;
}

img{
    width: 50%;
    height: 50%;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
}

h2{
    text-align: center;
    color: #025157; 
}

li{
    display: inline-block;
    color:#025157;
    margin: 0 25px 0 25px;
}

/*#logo{
    width:5%;
    height: 5%;
    display: inline-block;
}*/

a{
    display: inline-block;
}

.header {
    margin: 40px 20px 20px 0;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
  }

  .header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
  }

  .logo{
    width: 15%;
  }

  .logo > img{
    width: 15%;
  }

  .navbar{
    width: 70%;
    text-align: center;
    color: #025157;
  }

  .actions{
    width: 80%;
    text-align: left;
    font-size: 14px;
    font-weight: 600px;
  }

  .actions > * {
        margin: 0 10px;
  }
 
  .login{
    color:#67b54b;
  }

  .start{
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;
  }

  .main {
    margin-top: 140px;
    text-align: center;
  }

  @media (min-width:600px) {
    html {
      font-size:100%;
    }
  }

  
  .publish h3 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish{
    margin-left: 30px;  
  }
  .publish > p {
    font-size: 16px;
    color: #343434;
    margin-bottom: 20px;
  }
  
  .publish > form {
   
  }
  
  .publish > form p {
    color: #025157;
  }

  .promo{
    display: flex;
    width: 70%;
    align-items: center;
    margin: 100px auto;
    flex-direction:column;
  }

  

  .explanatory-video{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .explanatory-video img{
    width: 120px;
    margin-top: 10px;
  }