body {
  background-color: #fffbf7;
}

h1 {
  color: #025157;
  text-align: center;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

article > p {
  color: #8b8b8bcc;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

button {
  color: #fff;
  background-color: #025157;
}

.header {
  /* margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px; */
  margin: 40px 20px 0;
  font-size: 0;
  font-family: sans-serif;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

li {
  display: inline;
  margin: 0 25px 0;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle;
}

.logo {
  width: 15%;
}

.logo > img {
  width: 15%;
}

.navbar {
  width: 60%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.actions > * {
  margin: 0 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}

.main {
  margin-top: 285px;
  text-align: center;
}

.publish {
  /* container styles if any */
  margin-left: 30px;
}

.publish h3 {
  
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

iframe {
  display: flex;
  margin: auto;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

.papa >h3,h4{
  color:#025157;
  position: relative;
  left: 30px;
}

.abuelo{
  background-color: #a1d683;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: raw;
}

.papa{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 70%;
  height: 70%;
  align-items: center;
}

.papa > p{
  position : relative;
 color:black;
 width: 60%;
 font-family: 'calibri';
 top:20px;
 left: 30px;
}

.papa > img{
  width: 60%;
  position: relative;
  top: 60px;
  left: 30px;
 }

 .papa > button{
  width: 20%;
  position: relative;
  top: 20px;
  left: 30px;
  align-items: left;
 }

.papa_hermano{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: right;
  width: 50vh;
  height: 97%;
  background-color: white;
  position: relative;
  top: 5px;

}

.papa_hermano > img{
  width: 100%;
  height:40%;
  position: absolute;
  top: 0px;
}

.papa_hermano > #logo{
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 70%;
  border: 1px;
  z-index: 1;
  top: 140px;
  left: 250px;
  background-color:#fddf7e;
  filter: saturate(180%);
}

.papa_hermano > h4{
  position: relative;
  left: 10px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.papa_hermano > #carrito{
  width:10%;
  height: 10%;
  top: 0px;
  left: 10px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.papa_hermano > p{
  
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 45px;
  right:10px;
}

.papa_hermano > button{
  width:50%;
  display: flex;
  justify-content:center;
  position: relative;
 
  bottom: 25px;
  left:100px;
}

.features{
  background-color: #025157;
  display: grid;
  /*grid-template-columns: 300px 300px;*/
  /*grid-template-columns: repeat(2,1fr);
  height: 660px; 
  grid-template-rows: repeat(2, 1fr);
  /*grid-template-columns: 1fr 1fr;*/
  padding: 5% 10%;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
}


.features #card {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #ffff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features h3{
  position: relative;
  left: 30px;
}

.features p{
  position: relative;
  left: 30px;
}

.features a{
  color: #67B54B;
  position: relative;
  left: 30px;
}

.works{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
}

.works > h2{
   color: #025157;
}
.works > p {
  font-family: sans-serif;
  font-size: 1em;
  color: #343434;
  padding: 2em 20em;
  
}
.works > button{
  background-color: #025157;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}

.wcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 100px;
  row-gap: 10px;
}

.wcontainer > div {
  border-radius: 10px;
  text-align: center;
}

.wcontainer > div > h3{
  color: #025157;
}

.wcontainer > div > img{
  width: 18em;
}

.wcontainer > div > a{
  color: #67B54B;
}

#promote > img{
  padding-top: 26px;
}

#capture > img{
  padding-top: 26px;
}

#capture > p{
  padding-bottom: 20px;
}

#measure > img{
  width: 16em;
}

#measure > h3{
  padding-top: -10px;
}

#measure > p{
  padding: 5px 0px;
  margin-bottom: 35px;
  
}


#measure > a{
   margin: auto;
  
}